.App {
  text-align: center;
  font-family: sans-serif;
}
body {
  background-image: url("http://images2.fanpop.com/images/photos/6500000/Backdrop-the-tonight-show-with-conan-obrien-6519309-1571-617.jpg");
  background-size: cover;
  background-position: 50% 100%;
}

h1 {
  text-align: center;
  color: white
}
